/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/ui
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
compress.sh
loader.sh
npm-debug.log
yarn-error.log
package-lock.json
/.fleet
/.idea
/.vscode
