@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900;&display=swap');

/*     General Styles       */

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  font-family: 'Poppins', sans-serif;
}

h1
{
  font-size: 2.5rem;
  font-weight: 700;
}

h2
{
  font-size: 1.8rem;
  font-weight: 600;
}

h3
{
  font-size: 1.4rem;
  font-weight: 800;
}

h4
{
  font-size: 1.1rem;
  font-weight: 600;
}

h5
{
  font-size: 1rem;
  font-weight: 400;
  color: #1d1d1d;
}

h6
{
  color: #d8d8d8;
}

/* Navbar */

.navbar
{
  font-size: 16px;
  left: 0;
  top: 0;
}

.navbar .navbar-nav .nav-link
{
  padding: 0 20px;
  transition: 0.3s ease;
}

.navbar .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar .navbar-nav .nav-link.active,
.navbar i.active
{
  color: coral;
}

.navbar i
{
  font-size: 1.2rem;
  padding: 0 7px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease;
}

/*     Mobile Nav       */

.navbar .navbar-toggler
{
  border: none;
  outline: none;
}

#bar
{
  font-size: 1.5rem;
  padding: 7px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease;
  color: white;
}

#bar:hover,
#bar.active
{
  color: coral;
}

@media only screen and (max-width: 991px) {
  body > nav > div > button:hover,
  body > nav > div > button:focus
  {
    background-color: coral;
  }

  body > nav > div > button:hover #bar,
  body > nav > div > button:focus #bar
  {
    color: white;
  }

  #navbarSupportedContent > ul
  {
    margin: 1rem;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
  }

  #navbarSupportedContent > ul > li:nth-child(n) > a
  {
    padding: 10px 0;
  }
}


form {
  max-width: 100%;
  width: 75%;
}

#nav-links {
  width: 75%;
}

@media screen and (max-width: 768px) {
  form {
    width: 95%;
  }

  #nav-links {
    width: 95%;
  }
}